<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Componente Conexa</title>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<link rel="stylesheet" href="styles.css" />
		<link
			href="https://fonts.googleapis.com/css?family=B612&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<div id="app">
			<h1>add Nodes here</h1>
			<div id="container-inputs">
				<div class="node" v-for="node in adjacencyList">
					<span class="attributes">Node </span>
					<input
						type="text"
						v-model="node.id"
						@keyup.enter="sanitize"
					/>
					<span class="attributes">Direct</span>
					<input
						type="text"
						v-model="node.direct"
						@keyup.enter="sanitize"
					/>
					<span class="attributes">Indirect</span>
					<input
						type="text"
						v-model="node.indirect"
						@keyup.enter="sanitize"
					/>
				</div>
			</div>
			<button @click="addNode" id="add-node-btn">
				add node
			</button>
			<button @click="sanitize">OK</button>
			<div id="divisor"></div>
		</div>

		<div id="alg">
			<button @click="runAlgorithm" v-if="!isFinished">
				run algorithm
			</button>
			<button v-else @click="clear">run again</button>
			<div
				id="container-components"
				:style="{'grid-template-columns': `1fr.repeat(${numComponents})`}"
			>
				<div v-for="(component, i) in components" class="component">
					[Component {{ i + 1}}]
					<div v-for="node in component" class="component-node">
						{{ node }}
					</div>
					<hr />
				</div>
			</div>
		</div>
		<script src="alg.js"></script>
		<script src="main.js"></script>
	</body>
</html>
