* {
	font-family: sans-serif;
	font-size: medium;
	font-weight: bold;
}

.container {
	display: grid;
	width: 100%;
}

#divisor {
	margin-bottom: 100px;
}

.node {
	background-color: rgb(168, 190, 211);
}

input {
	background-color: rgb(112, 124, 131);
	color: white;
}

.attributes {
	color: white;
}
